#deployment{
background-color: blue;
width: 650px;
height: 650px;
border-radius: 50%;
text-align: center;
margin-left: 25%;
color: aliceblue;
}

#database{
background-color: chocolate;
width: 550px;
height: 550px;
border-radius: 50%;

margin: 10%;

}

#backend{
background-color: brown;
width: 450px;
height: 450px;
border-radius: 50%;

margin: 10%;

}

#frontend{
    background-color: cadetblue;
    
width: 350px;
height: 350px;
border-radius: 50%;

margin: 10%;


}

#javascript{
    background-color: darkmagenta;
    
width: 250px;
height: 250px;
border-radius: 50%;

margin: 10%;


}

#css{
    background-color: darkgreen;
    
width: 150px;
height: 150px;
border-radius: 50%;

margin: 20%;


}
#html{
    background-color: gold;

width: 50px;
height: 50px;
border-radius: 50%;

margin-left: 20%;
margin-top: 20%;


}