*{
    color: white;
}
.container{
    background-color: black;
    height: 50px;
    padding-top: 20px;
    
}
a{
    padding-left: 40px;
    text-decoration: none;
}
#a1{
    padding-right: 50%;
}
#a1:hover{
    color: burlywood;
    zoom: normal;
}